<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


  <link
    name="base_link">
  </link>
  <!-- Joint connecting dummy_link to base_link -->
  <joint name="base_link_reference_joint" type="fixed">
    <parent link="base_link" />
    <child link="base_link_reference" />
  </joint>

  <link
    name="base_link_reference">
    <inertial>
      <origin
        xyz="-6.99440505513849E-15 1.10103519706159 0.00344258551504817"
        rpy="0 0 0" />
      <mass
        value="2.17957713322354" />
      <inertia
        ixx="0.178998504386709"
        ixy="5.06667889358663E-16"
        ixz="-2.79813933858926E-16"
        iyy="0.130111023279005"
        iyz="3.03303960572217E-05"
        izz="0.290729649302987" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find shippy)/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 0.4" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find shippy)/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <gazebo reference="base_link_reference">
  </gazebo>
  <link
    name="Link_SIdes">
    <inertial>
      <origin
        xyz="0.534919265146604 0.0911183727190013 0.996926007551466"
        rpy="0 0 0" />
      <mass
        value="163.616870086833" />
      <inertia
        ixx="52.491087866626"
        ixy="-4.61891649327673E-05"
        ixz="-0.0115445269327401"
        iyy="52.5449602922208"
        iyz="-0.176290164402609"
        izz="1.13591652759004" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find shippy)/meshes/Link_SIdes.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.286274509803922 0.662745098039216 0.329411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find shippy)/meshes/Link_SIdes.STL" />
      </geometry>
    </collision>
  </link>
  <gazebo reference="Link_SIdes">
    <material>Gazebo/Green</material>
    <mu1 value="0.0001" />
    <mu2 value="0.0001" />
  </gazebo>
  <joint
    name="Joint_Sides"
    type="fixed">
    <origin
      xyz="-0.535000000000017 2.01 -0.19"
      rpy="1.5707963267949 0 0" />
    <parent
      link="base_link" />
    <child
      link="Link_SIdes" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Link_Metal">
    <inertial>
      <origin
        xyz="0.602924866263637 0.190961400893912 -0.375"
        rpy="0 0 0" />
      <mass
        value="5.54659895705767" />
      <inertia
        ixx="0.153378585391697"
        ixy="-0.0237536387890743"
        ixz="-5.04243017767317E-17"
        iyy="0.44354732705172"
        iyz="1.85867772292397E-17"
        izz="0.410429972682058" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find shippy)/meshes/Link_Metal.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.667 0.098 0.098 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find shippy)/meshes/Link_Metal.STL" />
      </geometry>
    </collision>
  </link>
  <gazebo reference="Link_Metal">
    <material>Gazebo/Red</material>
  </gazebo>
  <joint
    name="Joint_Metal"
    type="fixed">
    <origin
      xyz="-0.375000000000015 1.76 0.0100000000000002"
      rpy="1.5707963267949 0 -1.57079632679489" />
    <parent
      link="base_link" />
    <child
      link="Link_Metal" />
    <axis
      xyz="0 0 0" />
  </joint>
  
</robot>