<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <link
    name="Link_Attach">
    <inertial>
      <origin
        xyz="-0.00049784865130853 0.0427987016913154 0.511037262417584"
        rpy="0 0 0" />
      <mass
        value="1.32876293779264" />
      <inertia
        ixx="0.0130208817284301"
        ixy="-4.88258049923028E-06"
        ixz="-9.3200074052501E-07"
        iyy="0.0225701974289401"
        iyz="0.0015436359339137"
        izz="0.0122028865555913" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find shippy)/meshes/Link_Attach.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.937254901960784 0.137254901960784 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find shippy)/meshes/Link_Attach.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint_Attach"
    type="fixed">
    <origin
      xyz="0 1.85252445791832 -0.19"
      rpy="1.5707963267949 0 0" />
    <parent
      link="base_link" />
    <child
      link="Link_Attach" />
    <axis
      xyz="0 0 0" />
  </joint>
  <gazebo reference="Link_Attach">
    <material>Gazebo/ZincYellow</material>
    <mu1 value="0.001" />
    <mu2 value="0.001" />
  </gazebo>
</robot>